body {
    box-sizing: border-box;
    font-family: roboto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}
p,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    border: none;
}


a,
.bottom .text p {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height: 1000px;
    padding: 8px 8px 8rem;
    margin-bottom: 64px;
    
}



.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
    
    
}


.top .logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.logo {
    flex-basis: 400px;
}

.bottom {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 96px;

}

.text {
    flex-basis: 400px;
    
}




button.signup {
    margin-top: 16px;
    padding: 6px 20px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 4px;

}


body > h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 32px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-bottom: 64px;
}
.card {
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 32px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 32px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    
    max-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.quote-text {
    max-width: 850px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    
}

.quote > p:last-child{
    align-self: flex-end;
    font-weight: 600;
    font-size: 24px;
    
}

.border-white {
    border: 1px solid white;
}

.container-two {
    display: flex;
    justify-content: center;
    margin: 64px 16px;
}

.call-to-action {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 42px;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.action-text {
    color:#E5E7EB;
    display: flex;
    flex-direction: column;

}

.action-text > h3 {
    font-weight: 700;
    font-size: 24px;
}

